.brands{
    /* border: 1px solid red; */
    padding-inline: 3.75rem;
    padding-block: 4.375rem;
}

.brands h3{
    text-align: center;
    font: var(--headline2);
    /* font-weight: bold; */
}

.brands-logos{
    margin-block-start: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}