.hero-contentInfo {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  color: var(--white);
  text-align: center
}

.hero-contentInfo>* {
  margin: 0;
}

.hero-welcome,
.hero-slogan {
  text-transform: capitalize;
}

.hero-welcome {
  font: var(--headline3);
}

.hero-title {
  font: var(--headline1);
  text-transform: uppercase;
}

.hero-slogan {
  font: var(--headline2);
  /* color: var(--white); */
}

@media screen and (max-width:768px) {
  .hero-welcome {
    font: var(--headline3mob);
  }

  .hero-title{
    font: var(--headline1mob);
  }

  .hero-slogan{
    font: var(--headline2mob);
  }
}