@import 'hero-content.css';

.hero{
  background-color: #00000080;
  background-image: url('../images/welcome.jpg');
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  block-size: 54.125rem;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}