.info-slides{
  /* border: 1px solid red; */
  padding-block: 7rem;
  padding-inline-start: 9.375rem;
}

.info-slides-content{
  /* border: 5px solid green; */
  display: flex;
  gap: 7rem;
  /* overflow: hidden; */
  /* border: 2px solid red; */
  align-items: center;
  /* max-inline-size: 560px; */
  /* justify-content: flex-start; */
}

.content-info{
  /* flex: 1; */
  /* border: 1px solid green; */
  flex-basis: 32.5rem;
  flex-grow: 0;
  flex-shrink: 0;
  /* inline-size: 32.5rem; */
  /* inline-size: 100%; */
  /* align-self: center; */
  /* justify-self: flex-end; */
}

.content-info span{
  display: inline-block;
  font: var(--body1);
  margin-block-end: 2.625rem;
}

.content-info p:nth-of-type(2){
  margin-block-start: 2.5rem;
  margin-block-end: 5rem;
}

.content-info .button.is-primary{
  padding-block: 1.625rem;
}

.content-slides{
  position: relative;
  /* overflow: hidden; */
  /* width: 100px; */
}


@media screen and (max-width: 1024px){
.info-slides{
  padding: 3.75rem;
}

  .info-slides-content {
    flex-direction: column;
    /* gap: 7rem; */
    /* padding-block: 7rem; */
    /* padding-inline: 1.5rem; */
    /* overflow: hidden; */
    gap: 2rem
  }
  #condos .content-slides, #discover .content-slides{
    display: none;
  }
}

@media screen and (max-width: 1024px){
.content-info{
  flex-basis: auto;
}

  .content-info span {
    margin-block-end: 1.5rem;
  }

  .content-info p:nth-of-type(2) {
    margin-block-start: 1.5rem;
    margin-block-end: 2.5rem;
  }
}

@media screen and (max-width: 768px){
.info-slides {
  /* border: 1px solid red; */
  padding-block-start: 2rem;
  padding-inline-start: unset;
}


  .info-slides-content {
    flex-direction: column;
    /* gap: 7rem; */
    /* padding-block: 7rem; */
    padding-inline: 1.5rem;
    /* overflow: hidden; */
    gap: 2rem
  }

  

  
}