.lifestyle{
  background-image: url('../images/ocean.png');
  background-repeat: no-repeat;
  block-size: 54.125rem;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.lifestyle-container{
  margin-inline-end: 5rem;
  position: relative;
}

.lifestyle .lifestyle-img{
  display: block;
  position: absolute;
  top: 10%;
  right: 87%;
}

.lifestyle .info-slides{
  background: var(--white2);
}

.lifestyle .info-slides-content{
  padding-block: 3.5rem;
  padding-inline-start: 7.75rem;
  padding-inline-end: 4.25rem;
}

.lifestyle .slides1x1-content img{
  height: 565px;
  width: auto;

}

.lifestyle .content-info{
  
}