@import 'player-button.css';

.player{
    max-inline-size: 846px;
    min-inline-size: 534px;
    /* max-block-size: 598px; */
    /* inline-size: 100%; */
    block-size: auto;
    position: relative;
  }

  .player video{
    inline-size: 100%;
    aspect-ratio: 16/9;
    vertical-align: middle;
    object-fit: cover;
  }

  .player-actions{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
  }

  .player-progress{
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    display:flex;
    padding: 10px;
  }

  .player-progress input{
    flex: 1;
  }

  .player-overlay{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: .3s opacity;
  }

  .player:hover .player-overlay{
    opacity: 1;
  }