.slideshow2 {
  /* margin-block-start: 3.625rem; */
  /* border: 1px solid red; */
}

.slideshow2-container {
  /* border: 1px solid blue; */
  position: relative;
  display: flex;
  gap: 2.25rem;
  margin: auto;
  /* overflow: hidden; */
}

.slides2 {
  display: none;
  flex-shrink: 0;
  /* transition: 2s; */
}

.slides2 span{
  display: inline-block;
  margin-block: 1.5rem;
  font: var(--span);
}

.slides2-content {
  position: relative;
}

.slides2-content img {
  display: block;
  max-inline-size: 478px;
  max-block-size: 500px;
  inline-size: 100%;
  block-size: 100%;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.slides2-info {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}

.slides2-content:hover img {
  opacity: 0.3;
}

.slides2-content:hover .slides2-info {
  opacity: 1;
}

.info {
  font: var(--span2);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: justify;
  text-decoration: none;
  cursor: pointer;
}

.prev2,
.next2 {
  cursor: pointer;
  position: absolute;
  bottom: 15%;
  width: 67px;
  /* margin-top: -22px; */
  padding-block: 1.625rem;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.prev2 {
  left: -67px;
}

.next2 {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.prev2:hover,
.next2:hover {
  background-color: rgba(0, 0, 0, 1);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
